application:
  name: "spring-boot-scala-example"
  description: "An example Spring Boot app using Scala"

spring:
  main:
    banner-mode: off

server:
  port: 8080

management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      enabled: true
      show-details: when-authorized
    info:
      enabled: true
    metrics:
      enabled: true

logging:
  file:
    name: logs/spring-boot-scala-example.log
