application:
  name: "spring-boot-scala-example"
  description: "An example Spring Boot app using Scala"

server:
  http:
    port: 8080
  compression:
    enabled: true
  port: 8443
  ssl:
    key-store: classpath:keystore.jks
    key-store-password: changeit

logging:
  file: logs/spring-boot-scala-example.log

management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: "*"
  endpoint:
    metrics:
      enabled: true
    health:
      enabled: true
      show-details: always